<html>
<head>
<link rel="stylesheet" href="styles/app.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<body>
    <div id= "page">
        <img id= "logo" src = "images/logo.png">

        <form action = "/logout?_method=DELETE" method = "POST">
            <button type = "submit" style = "float: right;"> Log Out</button>
        </form>

        <div id = "addExpenseMenu"></div>

        <!-- DASHBOARD STRUCTURE -->
        <div id= "dashboard">
            <div class="cells">
                <div class="cell" id="_0"></div>
                <div class="cell" id="_1"></div>
                <div class="cell" id="_2"></div>
                <div class="cell" id="_3"></div>
                <div class="cell" id="_4"></div>
                <div class="cell" id="_5"></div>
            </div>
        </div>

    </div>
</body>
</head>

<script src="libraries/jquery-3.5.1.min.js"></script>

<script src="constants.js"></script>
<script src="variables.js"></script>

<script src="mouse.js"></script>
<script src="update.js"></script>
<script src="modules.js"></script>
<script src="generalUtils.js"></script>

<script src="graphics/canvasUtils.js"></script>
<script src="graphics/PieChartU.js"></script>
<script src="graphics/LineChartU.js"></script>

<script src="menus/ExpenseCreationU.js"></script>

<script src="modules/ExpenseRatioU.js"></script>
<script src="modules/ExpenseListU.js"></script>
<script src="modules/NetworthU.js"></script>
<script src="modules/EvolutionU.js"></script>

<script>
// Valores do usuário, recebidos do servidor: 
var user = <%- JSON.stringify(user) %>; 

window.onload = function(){
    initVariables();

    // Criação dos módulos
    ExpenseRatios = new ExpenseRatioModule('ExpenseRatios', 'Expense Ratios');

    Evolution = new EvolutionModule('Evolution', 'Your Evolution');
    Evolution.lineChart.paintMode = INTERPOLATED;

    ExpenseList = new ExpenseListModule('ExpenseList', 'Expense List');
    ExpenseList.updateList();

    Networth = new NetworthModule('Networth', 'Your Balance');
    Networth.updateNetworth();

    // Criação dos menus
    ExpenseMenu = new ExpenseCreationMenu();

    // Iniciar Dashboard
    updateDashboard();
    initMouse();
}   
</script>
</html>